.cetner {
    margin: 0 auto;
    font-size: 10px;
    color: rgb(4, 8, 8);
    background-color: rgb(18, 221, 194);
    width: 49%;
    border: 1px solid black;
}

/* .underline{
    text-decoration: underline;
}

.padding{
    padding: 70px 164px 52px 65px;
    border: 1px solid black;
    margin: 200px;
} */